version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:lts

    steps:
      - checkout

workflows:
  version: 2
  build-test-package:
    jobs:
      - build

run:
          name: Install Docker Compose
          command: |
            set -x
            curl -L https://github.com/docker/compose/releases/download/1.25.3/docker-compose-`uname -s`-`uname -m` > /usr/local/bin/docker-compose
            chmod +x /usr/local/bin/docker-compose

setup_remote_docker
docker-compose build
docker-compose up -d
run:
          name: Start container and verify it is working
          command: |
            set -x
            docker-compose up -d
            docker run --network container:contacts \
              appropriate/curl --retry 10 --retry-delay 1 --retry-connrefused http://localhost:8080/contacts/test
